table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12%;
}
.example-button-row {
  display: flex;
  max-width: 600px;
}

.example-button-row {
  margin: 8px 8px 8px 0;
}

.button-row {
  display: flex;
}

.form-group {
  display: inline-grid;
}

.element-row {
  cursor: pointer;
}

tr.element-row:hover {
  background: whitesmoke;
}

.list-header {
  display: flex;
}
.filter-header{
  width: 90%;
}
.add-button-header{
  width: 10%;
}

.button-header {
  height: 54px;
  margin-left: 10px;
}

.mat-column-address {
  flex: 0 0 50%;
}


